<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bscsdp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,19}}</string>
                <key>sourceSize</key>
                <string>{184,19}</string>
            </dict>
            <key>hongtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{61,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,7}}</string>
                <key>sourceSize</key>
                <string>{61,7}</string>
            </dict>
            <key>jxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{537,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,153}}</string>
                <key>sourceSize</key>
                <string>{537,153}</string>
            </dict>
            <key>niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,11},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>title-pxhg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>title-pxts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>topding.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,41},{543,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,84}}</string>
                <key>sourceSize</key>
                <string>{543,84}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,586},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,586},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardReview.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e24787bb735c99ce629eb04db623e3f$</string>
            <key>textureFileName</key>
            <string>CardReview.png</string>
        </dict>
    </dict>
</plist>
