<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>piao_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{1,167},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{1,333},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{167,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{167,167},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{167,333},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{333,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{333,167},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{333,333},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{499,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{499,167},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{499,333},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{665,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{665,167},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{665,333},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{831,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{831,167},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{665,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{831,333},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{997,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{997,167},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{997,333},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{1163,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piao_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{1163,167},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>firecir.png</string>
            <key>size</key>
            <string>{1328,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad66ed60e686cc5f9e452773d83f5390:53f8038aa623bb0e094ba406e60d40f0:fb1e70c7cc86c5f87ccbaa6f895c6992$</string>
            <key>textureFileName</key>
            <string>firecir.png</string>
        </dict>
    </dict>
</plist>
