<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BatteryBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,39}</string>
                <key>spriteSourceSize</key>
                <string>{81,39}</string>
                <key>textureRect</key>
                <string>{{172,1},{81,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameLookBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{742,1},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MenuBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,183}</string>
                <key>spriteSourceSize</key>
                <string>{135,183}</string>
                <key>textureRect</key>
                <string>{{662,171},{135,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>batteryprogress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,30}</string>
                <key>spriteSourceSize</key>
                <string>{69,30}</string>
                <key>textureRect</key>
                <string>{{101,1},{69,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>batteryprogress2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,30}</string>
                <key>spriteSourceSize</key>
                <string>{69,30}</string>
                <key>textureRect</key>
                <string>{{30,1},{69,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_biaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,252}</string>
                <key>spriteSourceSize</key>
                <string>{162,252}</string>
                <key>textureRect</key>
                <string>{{799,171},{162,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{608,1},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_btnstart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,171}</string>
                <key>spriteSourceSize</key>
                <string>{525,171}</string>
                <key>textureRect</key>
                <string>{{135,171},{525,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameme_ssage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1,171},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messagecount_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_location_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{255,1},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>voice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{506,1},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{298,1},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuanhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,71}</string>
                <key>spriteSourceSize</key>
                <string>{160,71}</string>
                <key>textureRect</key>
                <string>{{344,1},{160,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameBtns.png</string>
            <key>size</key>
            <string>{962,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:723e59223f319926db0bc47691b032cc:eec8169b9496bdf89e2231521666469c:9445f05016fda6122b4b5cb5fa69037a$</string>
            <key>textureFileName</key>
            <string>gameBtns.png</string>
        </dict>
    </dict>
</plist>
