<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AddBoBo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardPrompt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,122}</string>
                <key>textureRect</key>
                <string>{{1,125},{500,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExitRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,122}</string>
                <key>textureRect</key>
                <string>{{1,249},{500,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StandUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,122}</string>
                <key>textureRect</key>
                <string>{{1,373},{500,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liuzuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,122}</string>
                <key>textureRect</key>
                <string>{{1,497},{500,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_break.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,122}</string>
                <key>textureRect</key>
                <string>{{1,621},{500,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,122}</string>
                <key>textureRect</key>
                <string>{{1,745},{500,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roommgr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,67}</string>
                <key>spriteSourceSize</key>
                <string>{424,67}</string>
                <key>textureRect</key>
                <string>{{1,869},{424,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menubtn.png</string>
            <key>size</key>
            <string>{502,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2c7379c215da3a5d7ad4cb96cf6a846:82b3d633a8aa6dc163b17747d33b208f:6558e350bc07a17b524832366b725c1b$</string>
            <key>textureFileName</key>
            <string>menubtn.png</string>
        </dict>
    </dict>
</plist>
