<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{111,113}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{111,113}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{114,1},{111,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{111,115}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{227,1},{111,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,118},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DiuBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{633,118},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GenBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,1126},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QiaoBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,326}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{337,1126},{326,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XiuBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{665,1126},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{340,1},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_control_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,42}</string>
                <key>spriteSourceSize</key>
                <string>{110,42}</string>
                <key>textureRect</key>
                <string>{{528,1},{110,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_control_thumb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,72}</string>
                <key>spriteSourceSize</key>
                <string>{186,72}</string>
                <key>textureRect</key>
                <string>{{640,1},{186,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>delay_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,105}</string>
                <key>spriteSourceSize</key>
                <string>{294,105}</string>
                <key>textureRect</key>
                <string>{{337,118},{294,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_btn_autoxiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,454},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_btn_autoxiu_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{337,454},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_btn_xq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,790},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_btn_xq_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{337,790},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>processBtns.png</string>
            <key>size</key>
            <string>{1000,1461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe839b42c891abb5768db8b494c43c0d:05cc5fd574580b067479b79ad9b3d21f:6161f141adf9406eb6f157a74d95da89$</string>
            <key>textureFileName</key>
            <string>processBtns.png</string>
        </dict>
    </dict>
</plist>
