<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,102}</string>
                <key>spriteSourceSize</key>
                <string>{336,102}</string>
                <key>textureRect</key>
                <string>{{1,338},{336,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{687,135},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{484,135},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_btn_close_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{241,145}</string>
                <key>textureRect</key>
                <string>{{23,1},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,39}</string>
                <key>spriteSourceSize</key>
                <string>{100,39}</string>
                <key>textureRect</key>
                <string>{{90,1},{100,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic_emote_bucket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{234,1},{98,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic_emote_dao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic_emote_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{566,1},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic_emote_shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{334,1},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic_emote_tomatoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{122,132}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{442,1},{122,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic_emote_torch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,128}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{192,1},{40,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photo_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{282,135},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usericon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,619}</string>
                <key>spriteSourceSize</key>
                <string>{619,619}</string>
                <key>textureRect</key>
                <string>{{339,338},{619,619}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>voicereplay_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,72}</string>
                <key>spriteSourceSize</key>
                <string>{279,72}</string>
                <key>textureRect</key>
                <string>{{1,135},{279,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,91}</string>
                <key>spriteSourceSize</key>
                <string>{204,91}</string>
                <key>textureRect</key>
                <string>{{702,1},{204,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>userinfoPic.png</string>
            <key>size</key>
            <string>{959,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5adc8aee1b7fff09d482cb5a3607cdb8:b93e91f88a69edbe6e48542a791a7c7f:b1a88057af8b61d12389fa8c2a216950$</string>
            <key>textureFileName</key>
            <string>userinfoPic.png</string>
        </dict>
    </dict>
</plist>
