<div id="urHere">后台管理中心</div>
<div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
    <div class="indexBox">
        <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
            <tr>
                <th width="100">游戏名称</th>
                <th width="100">在线状态</th>
            </tr>
        </table>
    </div>
</div>