<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OFF.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,58},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{116,50}</string>
            </dict>
            <key>ON.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{116,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{116,50}</string>
            </dict>
            <key>btn-qhzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>btn-xgmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{182,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,54}}</string>
                <key>sourceSize</key>
                <string>{182,54}</string>
            </dict>
            <key>btn-yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,176},{139,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,41}}</string>
                <key>sourceSize</key>
                <string>{139,41}</string>
            </dict>
            <key>title-sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Setting.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09ebaedab223d2b280b5697c026285eb$</string>
            <key>textureFileName</key>
            <string>Setting.png</string>
        </dict>
    </dict>
</plist>
