<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_in_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>poker0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,269},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,269},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,269},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,269},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,931},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,811},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,691},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,571},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,451},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,331},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,931},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,811},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,691},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,571},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,451},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,331},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,242},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,180},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,180},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,180},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,180},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,180},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,180},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,842},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,722},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,602},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,482},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,362},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,242},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,122},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,91},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,91},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,91},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,91},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,91},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,91},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,91},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,331},{87,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,117}}</string>
                <key>sourceSize</key>
                <string>{87,117}</string>
            </dict>
            <key>poker3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>poker3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>pokerback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>pokerbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poke.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da409f79a42f2df4ed78c751037cb1c9$</string>
            <key>textureFileName</key>
            <string>poke.png</string>
        </dict>
    </dict>
</plist>
