<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,724},{152,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,151}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,2},{720,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,150}}</string>
                <key>sourceSize</key>
                <string>{720,150}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,878},{129,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,124}}</string>
                <key>sourceSize</key>
                <string>{129,124}</string>
            </dict>
            <key>MVP.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,856},{118,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,49}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>dayu.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,724},{95,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>henxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{663,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,2}}</string>
                <key>sourceSize</key>
                <string>{663,2}</string>
            </dict>
            <key>hongtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,1009},{67,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,7}}</string>
                <key>sourceSize</key>
                <string>{67,7}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,821},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>jx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{720,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,52}}</string>
                <key>sourceSize</key>
                <string>{720,52}</string>
            </dict>
            <key>kp.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,821},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>kuaiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,851},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>kuaizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,821},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>pjhgt.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{720,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,62}}</string>
                <key>sourceSize</key>
                <string>{720,62}</string>
            </dict>
            <key>qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,878},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>shuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,936}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,936}}</string>
                <key>sourceSize</key>
                <string>{2,936}</string>
            </dict>
            <key>title-pjhg.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,724},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>title-zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,976},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>tuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,724},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>xiaoyuandian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,972},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{720,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,80}}</string>
                <key>sourceSize</key>
                <string>{720,80}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,920},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Record.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f4ec51d888b5baf349629cba8fc33f2$</string>
            <key>textureFileName</key>
            <string>Record.png</string>
        </dict>
    </dict>
</plist>
